@media (max-width:720px) {
    .grid-projects{
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    .grid-projects div {
        margin: 15px auto;
        width: 70%;
    }
    
}