@media (max-width: 720px) {
    .text-about {
        flex-direction: column;

    }
    .text-about table {
        margin-top: 20px;
        
    }
    .text-about p {
        margin: auto;
        font-size: 1em;
    }
    .aboutme ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
    }
    .aboutme ul li {
        list-style: none;
        margin: 20px auto;
    }
    table tr img {
        margin-right: 0px;
        padding-bottom: 10px;
        width: 40px;
    }
    div.infor_me  {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        word-wrap: break-word;
    
    }
    div.infor_me p {
        font-size: 12px;
        margin: 14px;
    }

}