@import url('https://fonts.googleapis.com/css2?family=Special+Elite&family=Ubuntu:ital,wght@1,700&display=swap');

.secl {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.linep {
    border-right: 2px solid;
    color: rgb(255, 255, 255);
    font-family: "Special Elite", monospace;
    margin: 0% auto;
    white-space: nowrap;
    overflow: hidden;
}

.home {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 600px;
    padding-top: 83px;
    background-color: black;
}

.home section h1 {
    margin: 25px;
    font-family: 'Special Elite', monospace;
    color: yellow;
}