* {
  margin: 0%;
  padding: 0%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1{
  font-weight: 900;
  font-size: 45px;
}
h2{
    font-weight: 700;
    font-size: 23px;
}
p{
  font-weight: 500;
  font-size: 21px;
}
a{
  font-weight: 900;
  font-size: 16px;
}